.main-screen {
    padding: 0px 25px;
    margin: 0px;
}

.friends-block {
    margin: 10px 0px;
}

.user-component {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-component__user {
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-component__profile {
    height: 60px;
    width: 60px;
    border-radius: 40%;
    object-fit: cover;
}


.user-component__text__name {
    font-size: 1.3rem;
    font-weight: 600;
    
}

.user-component__text__subtitle {
    color: var(--grey-3);
    padding-top: 10px;
    font-size: 1rem;
    display: block;
}

.user-component__profile--xl {
    height: 70px;
    width: 70px;
}

.user-component__profile--sm {
    height: 50px;
    width: 50px;
}

.user-component__text__name--xl {
    font-size: 1.5rem;
    
}

.user-component__messages {
    display: flex;
    align-items: center;
    color: var(--grey-3);
    gap: 5px;
}

.user-component__messages span {
    font-weight: 500;
    font-size: 1.2rem;
    padding-bottom: 3px;
}

.user-component__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    color: var(--grey-3);
    padding-top: 3px;
}

.user-component__info__new-message {
    display: block;
    width: 20px;
    height: 17px;
    border-radius: 50%;
    background-color: tomato;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 3px;
}

.user-component__info__no-message {
    background-color: white;
}
